html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to bottom right, white, grey, black);
    background: -moz-linear-gradient( to bottom right, white, grey, black);
    background: -ms-linear-gradient( to bottom right, white, grey, black);
    background: -o-linear-gradient( to bottom right, white, grey, black);
    background: linear-gradient( to bottom right, white, grey, black);
}
body {
    background: transparent;
}
.buildingsDisplay {
    float: right;
}
.building {
    /*float: right;*/
    border-style: solid;
    border-color: black;
    color: snow;
}
#currencyDisplay {
    float: left;
    width: 25%;
    margin-left: 0%;
    /*text-align: center;*/
}
.btn {
    background-color: grey;
    color: black;
    border: solid;
    /*border-radius: 50%;*/
    user-select: none;/*chrome*/
    -moz-user-select: none;/*firefox*/
    -ms-user-select: none;/*Edge*/
}
.upgradeDisplay {
    float: right;
    border-style: solid;
    border-color: black;
    padding: 2px;
}
/*.contentHeader {
    border-style: solid;
    border-color: black;
    border-width: medium;
}*/
.chevDisplay {
    float: left;
    border-style: ridge;
}
/*
"Global css" just to make some space in index.html
*/