/*THIS FILE STORES GLOBAL CSS CLASSES 
THAT ARE USED THROGHOUT THE NAV-PAGES TABS, 
ANY EDIT HERE WILL AFFECT ALL .HTML FILES 
INCLUDING THE MAIN INDEX.HTML*/
.banner-wrapper {
    width: 100%;
    border-color:black;
    border-style:solid;
    border-width: medium; 
    text-align: center;
}
.background {
    background-image: url(https://cdn.discordapp.com/attachments/648270179343663116/648310280190689280/885073.gif);
    height: 100%;
}
/* nav-button is only really to make buttons transparent */
.nav-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border-style: thin;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 68px;
    padding-right: 8%;
    text-align: center;
}
.nav-button:hover {
    transform: scale(1.1);
}
.center {
    margin: auto;
    padding: 10px;
}
.SITE-FOOTER {
    position: absolute;
    /*left: 0;*/
    /*bottom: 0;*/
    background-color: rgb(61, 172, 236);
    color: white;
    text-align: center;
    margin-bottom: 0px; /*this attribute may not actually do anythin since p tags have bottom margin and that would overide the class...*/
    /*margin-top: 25%;*/
    width: 100%;
}