/*THIS FILE STORES SOME GLOBAL CSS CLASSES 
THAT ARE USED THROGHOUT THE NAV-PAGES TABS, 
ANY EDIT HERE WILL AFFECT ALL .HTML FILES 
INCLUDING THE MAIN INDEX.HTML*/
.banner-wrapper {
    width: 100%;
    border-color:black;
    border-style:solid;
    border-width: medium; 
}
.background {
    background-image: linear-gradient(to bottom right, lightblue, purple);
    height: 921px; /*is the to needed? the syntax highlighting doesn't pick it up*/
}
/* nav-button is only really to make buttons transparent */
.nav-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 68px;
    padding-right: 8%;
}